/* colors */
:root{      
    --color-primaria: #036;
    --color-segundaria-azulClaro: #66B2FF;
    --color-branco: #ffff;
    --color-cinza: #D9D9D9;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    height: 70px;
    background-color: #036;
    
}
header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 8%;
}

.header{
    display: flex;
    align-items: center;
    margin-left: 65px;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
}

header .logo{
    width: 110px;
    margin-left: 1%;
}

header nav .usuario{
    display: flex;
    font-size: 28px;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
}

.header button{
    color: #ffffff;
    background-color: #036;
    border-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    font-size: 18px;
    margin-left: 15px;
}


.img-confirma img{
    width: 190px;
}

.box{
    display: flex;
    align-items: center;
    border: 2px solid var(--color-primaria);
    border-radius: 8px;
    padding: 15px;
    width: 95%;
    margin: 15px auto;
    background-color: white;
    flex-direction: column;
    text-align: center;
    width: 600px;
}

.text-inicio h1 {
    color:var(--color-primaria);
   
}

.botoes button {
    height: 30px;
    margin-top: 35px;
    justify-content: space-between;
    margin-bottom: 15px;
}


.botoes .btn-finalizar {
    background-color: rgba(77, 147, 218, 0.788);
    color: #036;
    width: 200px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 1px;
}

.botoes :hover{
    cursor: pointer;
    transform: scale(1.03);
}

.btn-finalizar:hover{
    background-color: rgba(19, 92, 165, 0.671);
}

