/* colors */
:root{      
    --color-primaria: #036;
    --color-segundaria-azulClaro: #66B2FF;
    --color-branco: #ffff;
    --color-cinza: #D9D9D9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    height: 70px;
    background-color: #036;

}

header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 8%;
}

.header {
    display: flex;
    align-items: center;
    margin-left: 65px;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
}

header .logo {
    width: 110px;
    margin-left: 1%;
}

header nav .usuario {
    display: flex;
    font-size: 28px;
    text-align: center;
    align-items: center;
}

.header button {
    color: #ffffff;
    background-color: #036;
    border-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.header button a {
    text-decoration: none;
    color: white;
}

.voltar img{
    width: 34px;
}


.img-x img{
    width: 30px;
    position: absolute;
    top: 8px;             
    right: 8px;
}

.box1{
    align-items: flex-start;
    border: 2px solid #036;
    border-radius: 8px;
    padding: 15px;
    margin: 15px auto;
    background-color: white;
    flex-direction: column; 
    width: 600px;
    position: relative;
}

.textos1 h3{
    font-size: 33px;
    padding: 15px 1px;
}

.textos1 h1 {
    font-size: 50px;
    padding: 5px;
}


.valor, .btn-alterar-nome, .btn-calendario, .btn-alterar-transf, .img-add{
    display: flex;
    gap: 10px;
}

.valor img{
  width: 40px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.btn-alterar-nome h3{
    font-size: 23px;
    padding: 0px 1px;
}

.btn-alterar-nome img{
    width: 23px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

.infos2 {
    padding: 15px 0px;
}

.infos2 p, .btn-calendario p, .infos1 p, .info3 p{
    font-size: 25px;
}

.btn-calendario img{
    width: 20px;
    height: auto;
    object-fit: contain;
    margin-bottom: 25px;
    cursor: pointer;
}

.data h3, .infos2 h3, .info3 h3, .mensagem h3{
    font-size: 30px;
}

.info3 img {
    width: 23px;
    height: auto;
    object-fit: contain;
    margin-bottom: 25px;
    cursor: pointer;
}


.mensagem img{
    width: 40px;
    height: auto;
    object-fit: contain;
    margin-bottom: 45px;
    cursor: pointer;
}

.btn-enviar button{
    background-color: #036;
    color: #ffffff;
    width: 200px;
    border: none;
    border-radius: 5px;
    font-size: 35px;
    display: block;
    margin: 0 auto;
}

.btn-enviar :hover{
    cursor: pointer;
    transform: scale(1.03);
}
.img-x:hover{
    cursor: pointer;
}
