*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --azul: #036;
    --branco: #ffffff;
    --cinza-escuro: #bcbfdb;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    height: 70px;
    background-color: var(--azul);
    
}
header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 8%;
}

.header{
    display: flex;
    align-items: center;
    margin-left: 65px;
    color: var(--branco);
    font-size: 20px;
    width: 100%;
}

header .logo{
    width: 110px;
    margin-left: 1%;
}

header nav .usuario{
    display: flex;
    font-size: 28px;
    text-align: center;
    align-items: center;  
}

.header button{
    color: var(--branco);
    background-color: var(--azul);
    border-color: var(--branco);
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.voltar{
    margin-left: 5%;
    margin-top: 1% ;
    padding: 1px;
    margin-bottom: 15px;
}

.voltar img{
    width: 35px;
    height: auto;
}

.retangulo1 .box1{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5%;
}

.retangulo1 .seta-pix{
    display: flex;
}

.retangulo1 .seta-pix p{
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.retangulo1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 50px;
    margin-top: -20px;
}

.seta-transferencia{
    width: 50px;
}

.retangulo2{
    margin-top: -26px;
    
}

.retangulo2 .servico img{
    width: 50px;
    height: 50px;
}

.retangulo2 .servico p{
    color: var(--branco);
    font-size: 16px;
}

.acoes{
    display: flex;
    flex-direction: row;
    margin-left: -25px;
    display: flex;
    justify-content: space-evenly;
}

.acoes .servico{
    padding: 40px;
    text-align: center;
}

.servico{
    background-color: var(--azul);
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

hr{
    width: 82%;
    justify-self: center;
    color: var(--azul);
    margin-top: 20px;
}

footer .content{
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 65px;
    margin-right: 40px;
}

footer .content .color{
    background-color: var(--cinza-escuro);
    border-radius: 50%;
    width: 80px; 
    height: 80px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

footer .contatos{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 100%;
    overflow-y: auto;
    flex-wrap: nowrap;
    padding: 0 40px;
}

footer h1{
    color: var(--azul);
    font-size: 28px;
    margin-left: 65px;
    margin-top: -20px;
}

footer h2{
    font-weight: bold;
    font-weight: bolder;
    font-size: 20px;
}

footer h3{
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 10px;
}

footer{
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 5%;
}


footer a {
    text-decoration: none; 
}

/* Para monitores (> 1024px) */
@media (min-width: 1920px) {

    .header {
        margin-left: 100px; 
    }
    header nav .usuario p {
        font-size: 32px;
    }
    

    .header button {
        padding: 8px 15px; 
        width: 100px;
        font-size: 20px;
    }

    .voltar img{
        width: 45px;
        height: auto;
        margin-bottom: 20px;
    }
    .voltar .texto h1 {
        font-size: 38px;
    }

    
    .retangulo1 .box1{
        height: 45px; 
        font-size: 24px; 
        padding: 10px; 
        width: 85%;
    }

   
    .servico {
        height: 180px;
        width: 180px;
        border-radius: 15px;
        margin-right: 100px;
        margin-top: 20px;
    }

    hr{
       margin-right: 65px;
       margin-top: 40px;
    }

  
    .retangulo2 .servico img{
        width: 60px;
        height: 60px;
    }
    
  
    .retangulo2 .servico p {
        font-size: 18px;
    }
    
   
    footer .content .color {
        width: 100px; 
        height: 100px;
    }
    
    footer h1{
        margin-top: 50px;
    }
   
    footer h2 {
        font-size: 28px;
    }
    
  
    footer h3 {
        font-size: 18px;
    }
}


