* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    height: 70px;
    background-color: #036;
}

header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 8%;
}

.header {
    display: flex;
    align-items: center;
    margin-left: 65px;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
}

header .logo {
    width: 110px;
    margin-left: 1%;
}

header nav .usuario {
    display: flex;
    font-size: 28px;
    text-align: center;
    align-items: center;
}

.header button {
    color: #ffffff;
    background-color: #036;
    border-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
    
}

.header button a {
    text-decoration: none;
    color: white;
}

.retangulo1 .box1 {
    display: flex;
    flex-direction: row;

}

.retangulo1 .box1 p {
    display: flex;
    margin-top: 3%;
    text-align: center;
    align-items: center;
}

.valor-saldo {
    display: flex;
    justify-content: space-between;
}


.retangulo1 .box1 .saldo {
    font-size: 23px;
    margin-top: 8%;

}

.retangulo1 {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
}

.retangulo1 .parte1 {
    margin-left: 20%;
    margin-top: 50px;
    color: #036;
    font-weight: bold;
    font-size: 32px;


}

.retangulo1 button {
    background-color: #036;
    color: #ffffff;
    padding: 8px;
    width: 300px;
    border: #036;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
}

.retangulo1 .visualizar {
    height: 30px;
    width: 40px;
    margin-left: 25%;
    text-align: center;
    align-items: center;
    display: flex;
}

#iconeOlho {
    width: 25px;
}

.cabecalho-extrato h1 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    text-align: left; /* Alinhado a esquerda como na foto */
    font-weight: bold;
}

.item-transacao {
    display: flex;
    min-height: 70px; 
}
.coluna-data {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5px;
    margin-right: 10px;
    color: #666;
}

.coluna-data .dia {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.coluna-data .mes {
    font-size: 20px;
    text-transform: uppercase;
}

/* Coluna do Divisor (Linha) */
.coluna-divisor {
    position: relative;
    width: 20px;
    display: flex;
    justify-content: center;
}

/* A linha vertical cinza */
.coluna-divisor .linha {
    width: 1px;
    background-color: #8f8e8e;
    height: 100%;
    position: absolute;
    top: 0px; /* Começa um pouco abaixo para alinhar com o texto */
    left: 50%;
}

/* Coluna de Conteúdo (Descrição e Valor) */
.coluna-conteudo {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px; /* Espaço entre itens */
    padding-left: 10px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info .titulo {
    font-size: 20px;
    color: #000;
    margin: 0;
    font-weight: normal;
}

.info .subtitulo {
    font-size: 19px;
    color: #666;
    margin-top: 4px;
}

.valor {
    font-size: 19px;
    font-weight: bold;
    white-space: nowrap; /* Não quebrar linha no valor */
}

/* Cores do valor */
.valor.valor-negativo {
    color: #c30000; 
}

.valor.valor-positivo {
    color: rgb(7, 131, 15); /* Azul do seu banco para positivo */
}


.item-transacao, .coluna-data:not(:empty) + .coluna-divisor {
    margin-left: 0; 
}

.retangulo1 .parte2 {
    flex-direction: column;
    margin-right: 200px;
}

.retangulo1 .extrato img {
    background-color: rgb(187, 4, 4);
    border-radius: 3px;
    margin-right: 8px;
}

.extrato {
    padding: 10px;
}

.extrato-saida {
    display: flex;
    flex-direction: row;
    padding: 10px 1;
    margin-bottom: 12px;
    font-size: 20px;
    gap: 10px;
    padding-bottom: 10px; 
}

.extrato-saida img{
    height: 50px;
}

.valor{
    margin-left: auto;
    font-size: 23px;
}

.extrato h1{
    text-align: center;
    padding: auto;
}

.retangulo2 h1 {
    font-size: 28px;
    color: #036;
    margin-top: 30px;
    margin-left: 6%;
}

.retangulo2 .servico img {
    width: 80px;
    height: 80px;
}

.parte2{
    border: 2px solid rgb(230, 229, 229);
    border-radius: 19px;
    padding: 10px;
    margin: 10px auto;
    background-color: rgb(231, 230, 230);
    width: 450px;
}

.retangulo2 .acoes {
    padding-top: 40px;

}

.retangulo2 .acoes a {
    text-decoration: none;

}

.retangulo2 .servico p {
    color: #ffffff;
    text-align: center;

}

.acoes {
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    display: flex;
    justify-content: space-evenly;
}

.acoes .servico {
    padding: 50px;
    text-align: center;
}

.servico {
    background-color: #036;
    border-radius: 5px;
    height: 242px;
    width: 292px;
    font-size: 25px;

}


footer{
    background-color: #ffffff;
    padding-top: 3%;
    padding-bottom: 1%;
    width: 100%;
    margin-top: 3%;
    
    
}

footer .info-footer{
    display: flex;
    justify-content: space-between;
    margin-left: 5%

}
footer .ajuda h3{
    color: #036;
    font-size: 25px;
    margin-bottom: 10px;  
}
footer .ajuda p{
    font-size: 20px;
    color: #036;
}                                                                                                                                                                                                                                                                                     



footer .especialista {
    background-color: #036;
    color: #ffffff;
    border:none;
    border-radius: 5px;
    width: 480px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin-right: 150px;
   
}