/* colors */
:root{      
    --color-primaria: #036;
    --color-segundaria-azulClaro: #66B2FF;
    --color-branco: #ffff;
    --color-cinza: #D9D9D9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    height: 70px;
    background-color: #036;

}

header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 8%;
}

.header {
    display: flex;
    align-items: center;
    margin-left: 65px;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
}

header .logo {
    width: 110px;
    margin-left: 1%;
}

header nav .usuario {
    display: flex;
    font-size: 28px;
    text-align: center;
    align-items: center;
}

.header button {
    color: #ffffff;
    background-color: #036;
    border-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.header button a {
    text-decoration: none;
    color: white;
}

.voltar{
    margin-left: 5%;
    margin-top: 2%;
}
.voltar img{
    width: 35px;
    height: auto;
}

main{
    padding: 25px;
    
}

main .textos {
    margin-left: 95px;
}

main .textos h1{
    color: var(--color-primaria);
}


/* Retangulo para os cards */
.card-1,.card-2, .card-3{
    width: 50%;
    height: 60%;
    background-color: var(--color-cinza);
    margin-left: 300px;
    border-radius: 10px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between; 
    padding-top: 10px;
    display: flex; 
        
}


/* Formatação dos textos dos cards */
.card .textos-card{
    margin-left: 70px;
    padding: 5px;
    text-align: left;
    margin-top: -10px;
}

/* Circulo dos cards */
.card .circle{
    height: 80px;
    width: 80px;
    background:var(--color-cinza);
    border-radius: 50%;
    left: 300px;
    margin-top: -10px;   
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);  
    position: absolute; 
}

.circle .cell {
    position: absolute;
    top: 20%; /* sobe ou desce */
    left: 50%;
    transform: translateX(-70%);
    width: 35px; 
}

.cell img{
    width: 50px;
}

.circle .key{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-70%);
    width: 34px;
}

.key img{
    width: 55px;
}

.btn-confirmar button:hover{
    cursor: pointer;
    transform: scale(1.03);
    background-color: rgb(1, 77, 152);
}

.btn-confirmar button {
    height: 60px;
    width: 170px;
    margin-top: 35px;
    font-size: 20px;
    background-color: var(--color-primaria);
    color: var(--color-branco);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-confirmar{
    text-align: center;
    justify-content: center;
    align-items: center; 
    
}

.tree-points img{
    height: 20px;
    cursor: pointer;
    opacity: 0.8;
    margin-top: -10px;
    margin-right: 20px;
    cursor: pointer;
}

footer{
    background-color: #f0f0f0;
    padding-top: 3%;
    padding-bottom: 1%;
    width: 100%;
    margin-top: 6%;
    
}

footer .info-footer{
    display: flex;
    justify-content: space-between;
    margin-left: 5%

}
footer .ajuda h3{
    color: #036;
    font-size: 20px;
    margin-bottom: 10px;  
}
footer .ajuda p{
    font-size: 20px;
    color: #036;
}       

footer .especialista {
    background-color: #036;
    color: #ffffff;
    border:none;
    border-radius: 5px;
    width: 350px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 150px;
   
}



@media (min-width: 1920px){
    .card-1, .card-2, .card-3 {
        width: 800px; 
        height: 100px; 
        margin-top: 40px;
    }
    
    .card .circle {
        height: 120px; 
        width: 120px;  
        left: 300px; 
    }
    
    .card .textos-card {
        margin-left: 100px; 
    }
    .card .textos-card h2 {
        font-size: 30px; 
    }
    .card .textos-card span {
        font-size: 23px; 
    }
    .circle .cell, .circle .key {
        width: 45px; 
        transform: translateX(-90%); 
    }

    .textos p{
        font-size: 25px;
    }

    .circle .cell img, .circle .key img {
        width: 85px; 
    }
    
    
    .circle .cell {
        top: 15%; 
    }
    .circle .key {
        top: 30%; 
    }

    .btn-confirmar button {
    height: 90px;
    width: 250px;
    margin-top: 50px;
    font-size: 30px;
    }

    .card-1,.card-2, .card-3{
        margin-left: 530px;
    }

    .card .circle{
        left: 520px;
        margin-top: -10px;   
    }   

      footer .content .color {
        width: 100px; 
        height: 100px;
    }
    
    footer h1{
        margin-top: 50px;
    }
   
    footer h2 {
        font-size: 28px;
    }
    
  
    footer h3 {
        font-size: 18px;
    }

    .retangulo1 .box1{
        width: 100%; 
    }

    footer .ajuda h3{
        font-size: 25px;
    }

    footer .ajuda p{
        font-size: 20px;
    }

    footer .especialista {
        width: 480px;
        font-size: 25px;
    }
   

}