*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    
}

header{
    display: flex;
    height: 70px;
    background-color: #036;
    
}
header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 8%;
}

.header{
    display: flex;
    align-items: center;
    margin-left: 65px;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
}

header .logo{
    width: 110px;
    margin-left: 1%;
    
}

header nav .usuario{
    display: flex;
    font-size: 28px;
    text-align: center;
    align-items: center;
   
   
}

.header button{
    color: #ffffff;
    background-color: #036;
    border-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.voltar{
    margin-left: 5%;
    margin-top: 2%;
}
.voltar img{
    width: 35px;
    height: auto;
}

.container-textoContas-disponivels{
    margin-left: 5%;
    margin-top: 1%;
    margin-top: 2%;
}

.retangulo1 .box1{
    display: flex;
    flex-direction: row;
}

.retangulo1 .box1 .saldo{
    font-size: 23px;
}

.retangulo1{
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
}

.retangulo1 .parte1{
    margin-left: 65px;
    margin-top: 50px;
    color: #036;
    font-weight: bold;
    font-size: 32px;
}

.retangulo1 button{
    background-color: #036;
    color: #ffffff;
    padding: 8px;
    width: 300px;
    border: #036;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 18px;
}

.retangulo1 .visualizar {
    height: 40px;
    width: 40px;
    margin-top: 70px;
}

.retangulo1 .parte2{
    flex-direction: column;
    margin-right: 200px;
}

.retangulo1 .extrato img{
    background-color: green;
    border-radius: 3px;
    margin-right: 8px;
}

.extrato{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    height: 50px;
    width: 300px;
    font-size: 14px;
}


.retangulo2 h1{
    font-size: 28px;
    color: #036;
    margin-top: 30px;
    margin-left: 6%;
}

.retangulo2 .servico img{
    width: 80px;
    height: 80px;
}

.retangulo2 .acoes{
    padding-top: 40px;

}

.retangulo2 .servico p{
    color: #ffffff;
    text-align: center;
    
}

.acoes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.acoes .servico{
    padding: 50px;
    text-align: center;
}

.servico{
    background-color: #036;
    border-radius: 5px;
    height: 242px;
    width: 292px;
    font-size: 25px;
}


main{
   
    display: flex;
    flex-direction: column;
   margin: 10px;
}

main h1{
    color: #036;
    font-size: 30px;
}

main h2{
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.conta{
   border: #66B2FF ;
    border-style: solid;
    border-radius: 5px;

    width: 95%; 
    max-width: 1100px; 
    margin: 20px auto; 
    
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between; 
    gap: 15px;
    

}

.valor p{
    font-size: 30px;
    font-weight: bold;
    color: #036;
}

.conta img{
    height: 80px;
    width: 60px;
}

.check{
    height: 20px;
    width: 20px;
}

.confirmar-pagamento{
    background-color: #036;
    color: #ffffff;
    border: #036;
    border-radius: 5px;
    padding: 5px;
    width: 350px;
    height: 50px;
    font-size: 25px;
    margin-right: 50px;
    cursor: pointer;
}

.container-textoInfo-contas h1{
    margin-top: 15px;
}

.test{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.voltar img{
    height: 30px;
    position: relative;
    cursor: pointer;
}

.check{
    height: 20px;
    width: 20px;
    accent-color: green ;

}

.verMais {
    margin-right: 50px;
    padding: 10px;
    color: #036;
}
.verMais:hover{
   transform: scale(1.03);
}
.pagar:hover{
    cursor: pointer;
    background-color: #024;
    transform: scale(1.03);
}

.verMais:hover{
    cursor: pointer;
}

.box {
  width: 150px;  
  height: 150px;
  overflow: hidden; /* corta o que passar */
}

.box img {
  width: 100%;
  height: auto;  
}

.teste{
    width: 100vw;
    height: 100vh;
    position: absolute;
    
    
}

/*pop up*/

.box-seguranca {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
}
.itens {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.514);
    width: 90%; 
    max-width: 580px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0; 
    position: fixed; /* Mude para fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.pagamento-feito{
    text-align: center;
    width: 600px;
    position: fixed;
    width: 31%;
    height: 60%;
    z-index: 9000;
    justify-content: center;
    top: 7%;
    left: 33.2%;
}

.img-confirma img{
    width: 120px;
    margin-left: 150px;
}

.botoes :hover{
    cursor: pointer;
    transform: scale(1.03);
}


.btn-gerar-comprovante:hover{
    transform: color;
}

.img-x:hover{
    cursor: pointer;
}
.img-x {
    cursor: pointer;
    display: flex;
   margin-left: 530px;
   margin-top: 15px;
}

.text-pagamento{
    align-items: center;
}

.text-inicio img{
    width: 30px;
}

.text-inicio .msg-atencao{
    display: flex;
    background-color: #024;
    color: white;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    width: 95%;
    font-size: 20px;
    padding: 5px;
    border-radius: 7px;
    margin-left: 13px;

}


.text-inicio h1 {
    font-size: 28px;
    text-align: center;
    margin-top: 15px;
}



.model h3 {
    margin-top: 15px;
    font-size: 22px;
    margin-right: 230px;
    color: #036;
}

.model p {
   margin-right: 310px; 
}

.valor h1{
    margin-top: 25px;
    font-size: 60px;
    color: #036;
    margin-right: 230px;
}

.valor h2 {
    margin-top: 15px;
    margin-right: 300px;
    color:#036;
    font-size: 20px
}

.seguranca{
    background-color: #ffffff;
    border: 2px solid #66B2FF;
    border-radius: 5px;
    width: 500px;
    height: 75px;
    margin-left: 25px;
    margin-top: 15px;
    display: flex;
}

.seguranca img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
}

label{
    margin-top: 5px;
    display: flex;
    flex-direction: column; 
    gap: 5px; 
    font-weight: bold;
    margin-left: 120px;

}

.senha {
    margin-left: 120px;
    margin-top: 2px;
    width: 120px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 2px solid #66b3ff8f;
    text-align: center;
    letter-spacing: 10px;
    font-size: 18px;

}

.botoes button {
    height: 30px;
    margin-top: 35px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.botoes .confirmar {
    margin-right: 37px;
    background-color: #036;
    color: #ffffff;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.botoes .cancelar {
    background-color: rgba(77, 147, 218, 0.788);
    color: #036;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}


footer{
    background-color: #ffffff;
    padding-top: 3%;
    padding-bottom: 1%;
    width: 100%;
    margin-top: 5%;
    
    
}

footer .info-footer{
    display: flex;
    justify-content: space-between;
    margin-left: 5%

}
footer .ajuda h3{
    color: #036;
    font-size: 25px;
    margin-bottom: 10px;  
}
footer .ajuda p{
    font-size: 20px;
    color: #036;
}                                                                                                                                                                                                                                                                                     



footer .especialista {
    background-color: #036;
    color: #ffffff;
    border:none;
    border-radius: 5px;
    width: 480px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin-right: 150px;
   
}





@media (min-width: 1000px)  {
    

    header{
        width: 100%;
    }

   .box-seguranca {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    }
     
     body{
        width: 100%;
     }

     .contas{
        width: 100%; 

     }

     .conta{
       
        width: 100%; 
        padding: 20px 50px; 
        justify-content: space-between;
        
     }

     main{
       
    
        margin: 30px auto;
        padding: 0 20px;
      
     }

 }

 

 


