*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --azul: #036;
    --branco: #ffffff;
    --cinza-escuro: #bcbfdb;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    height: 70px;
    background-color: var(--azul);
    
}
header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 8%;
}

.header{
    display: flex;
    align-items: center;
    margin-left: 65px;
    color: var(--branco);
    font-size: 20px;
    width: 100%;
}

header .logo{
    width: 110px;
    margin-left: 1%;
}

header nav .usuario{
    display: flex;
    font-size: 28px;
    text-align: center;
    align-items: center;  
}

.header button{
    color: var(--branco);
    background-color: var(--azul);
    border-color: var(--branco);
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.voltar{
    margin-left: 6%; ;
    padding: 1px;
    margin-top: 20px;
}

.voltar img{
    width: 35px;
    height: auto;
}

/* Contêiner principal da Tabela de Extrato */
.extrato-completo {
    margin: 40px auto;
    width: 90%;
    max-width: 1800px;
    font-family: Arial, sans-serif;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse; 
}


.cabecalho-tabela th {
    background-color: #f5f5f5;
    color: #333;
    font-size: 23px;
    padding: 10px 5px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}
.cabecalho-tabela .coluna-credito, 
.cabecalho-tabela .coluna-debito,
.cabecalho-tabela .coluna-saldo {
    text-align: right;
}


.linha-saldo-anterior td {
    background-color: #eee;
    font-weight: bold;
    padding: 8px 5px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}
.linha-saldo-anterior .valor-saldo {
    text-align: right;
    color: #036; 
}


.linha-transacao td {
    padding: 8px 5px;
    font-size: 18px;
    vertical-align: top;
    border-bottom: 1px solid #eee;
}


.linha-transacao .historico {
    line-height: 1.4;
    color: #444;
}
.linha-transacao .data {
    font-weight: bold;
    color: #333;
}


.valor-credito, .valor-debito, .valor-saldo {
    text-align: right;
    font-weight: bold;
}
.valor-debito {
    color: #c30000; 
}
.valor-saldo {
    color: #036; 
}
.valor-credito {
    color: rgb(7, 131, 15); 
}


.linha-total {
    background-color: #f0f0f0;
    font-weight: bold;
    border-top: 2px solid #ddd;
}
.linha-total td {
    padding: 12px 5px;
    font-size: 23px;
}
.linha-total .titulo-total {
    text-align: right;
    padding-right: 20px;
}
.valor-credito-total, .valor-debito-total, .valor-saldo-total {
     text-align: right;
}
.valor-saldo-total {
    color: #036; 
}

.aviso-legal {
    font-size: 11px;
    color: #888;
    margin-top: 15px;
    text-align: left;
    padding-left: 5px;
}

footer{
    background-color: #eaeaea91;
    padding-top: 3%;
    width: 100%;
    margin-top: 7%;
    
}

footer .info-footer{
    display: flex;
    justify-content: space-between;
    margin-left: 5%

}
footer .ajuda h3{
    color: #036;
    font-size: 25px;
    margin-bottom: 10px;  
}
footer .ajuda p{
    font-size: 20px;
    color: #036;
}

footer .config-cartao{
    margin-right: 100px;  

}

footer .config-cartao button{
    width: 350px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    border: none;
    background-color: #66B2FF ;
    border-radius: 7px;
    text-align: center;
    align-items: center;

}
footer .config-cartao button .fatura{
    text-align: center;
    align-items: center;
   
}

footer .config-cartao button img{
    width: 40px;
  margin-left: 10px;
    
}

