/* colors */
:root{      
    --color-primaria: #036;
    --color-segundaria-azulClaro: #66B2FF;
    --color-branco: #ffff;
    --color-cinza: #D9D9D9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    height: 70px;
    background-color: #036;

}

header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 8%;
}

.header {
    display: flex;
    align-items: center;
    margin-left: 65px;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
}

header .logo {
    width: 110px;
    margin-left: 1%;
}

header nav .usuario {
    display: flex;
    font-size: 28px;
    text-align: center;
    align-items: center;


}

.header button {
    color: #ffffff;
    background-color: #036;
    border-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    font-size: 18px;
    margin-left: 15px;

}

.header button a {
    text-decoration: none;
    color: white;
}

.voltar img{
    width: 34px;
}
main{
    padding: 25px;
    
}

main .textos {
    margin-left: 80px;
}

main .textos h1{
    color: var(--color-primaria);
}


/* Retangulo para os cards */
.card-1,.card-2, .card-3{
    width: 500px;
    background-color: var(--color-cinza);
    margin-left: 80px;
    border-radius: 10px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between; 
    padding-top: 10px;
}


/* Formatação dos textos dos cards */
.card .textos-card{
    margin-left: 70px;
}

/* Circulo dos cards */
.card .circle{
    width: 70px;
    height: 70px;
    background:var(--color-cinza);
    border-radius: 50%;
    position: absolute;
    left: 95px;
    margin-top: -10px;   
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);   
             
}

.btn-confirmar button {
    height: 60px;
    width: 170px;
    margin-top: 35px;
    font-size: 20px;
    background-color: var(--color-primaria);
    color: var(--color-branco);
    border-radius: 5px;
    border: none;
}

.btn-confirmar{
    text-align: center;
    justify-content: center;
    align-items: center; 
    
}

.tree-points img{
    height: 20px;
    margin-left: 450px;
    cursor: pointer;
    opacity: 0.8;
}

