:root{
    --azul: #036;
    --branco: #ffffff;
    --azul-claro: #66b2ff;
    --cinza: #f1f1f1;
}

*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: hidden;
}

img{
    width: 100%;
    height: 100%;
}

.fundo{
    background-color: var(--azul);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.topo img{
    width: 150px;
    height: 150px;
    margin-left: 25%;
}

.topo h1{
    color: var(--branco);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.content-login-box{
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 16px;
    width: 350px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10%;
}

.content-login-box p{
    font-weight: bold;
}

.inputs{
    padding: 10px;
    height: 10px;
    border-radius: 6px;
    border: 1px solid var(--azul-claro);
    outline: none;
    width: 300px;
    font-size: 17px;
    box-shadow: 0 0 0 2px var(--cinza);
}

a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-enter{
    padding: 5px;
    border: none;
    background-color: #036;
    color: var(--branco);
    border-radius: 5px;
    width: 50%;
    height: 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.esqueceu-senha{
    display: block;
    text-align: right;
    width: 100%;
    font-size: small;
}

.btn-criar-conta{
    color: var(--azul);
}



