:root {
    --azul: #036;
    --branco: #ffffff;
    --cinza: #f1f1f1;
    --cinza-escuro: #6b6b6b;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

header{
    display: flex;
    height: 70px;
    background-color: var(--azul);
    
}
header nav {
    display: flex;
    width: 100%;
    margin-right: 8%;
}

.header{
    display: flex;
    align-items: center;
    margin-left: 65px;
    color: var(--branco);
    font-size: 20px;
    width: 100%;
}

header .logo{
    width: 110px;
    margin-left: 1%;
}

header nav .usuario{
    display: flex;
    font-size: 28px;
    text-align: center;
    align-items: center;
   
   
}

.senha{
    justify-items: center;
}

.box-senha{
    color: var(--branco);
    background-color: var(--azul);
    padding: 20px;
    width: 800px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 8px;
}

.content h1{
    margin-bottom: 5px;
}

.voltar{
    display: flex;
    text-align: left;
    width: 40px;
    height: 40px;
}

.dados{
    width: 700px;
    padding: 10px;
    font-size: larger;
    border-radius: 8px;
    border-color: var(--branco);
    margin-top: 15px;
}

.reenviar{
   padding: 6px;
   width: 20%;
   border-radius: 8px;
   border: none;
   font-size: 14px;
   font-weight: bold;
   color: var(--azul);
   margin-top: 10px;
   margin-bottom: 15px;
   cursor: pointer;
}

.proximo{
   padding: 10px;
   width: 40%;
   border-radius: 8px;
   border: none;
   font-size: 18px;
   font-weight: bold;
   color: var(--azul);
   margin-top: 15px;
   cursor: pointer;
}

footer .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 65px;
    margin-right: 50px;
}

footer h1{
    color: var(--azul);
    font-size: 20px;
    margin-top: 20px;
}

footer h3{
    font-weight: lighter;
    font-size: 16px;
    color: var(--cinza-escuro);
}

footer{
   background-color: var(--cinza);
   height: 150px;
   display: flex;
   flex-direction: row;
}



