* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    height: 70px;
    background-color: #036;
}

header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 8%;
}

.header {
    display: flex;
    align-items: center;
    margin-left: 65px;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
}

header .logo {
    width: 110px;
    margin-left: 1%;
}

header nav .usuario {
    display: flex;
    font-size: 28px;
    text-align: center;
    align-items: center;
}

.header button {
    color: #ffffff;
    background-color: #036;
    border-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.header button a {
    text-decoration: none;
    color: white;
}

.retangulo1 .box1 {
    display: flex;
    flex-direction: row;

}

.retangulo1 .box1 p {
    display: flex;
    margin-top: 3%;
    text-align: center;
    align-items: center;
}

.valor-saldo {
    display: flex;
    justify-content: space-between;
}


.retangulo1 .box1 .saldo {
    font-size: 23px;
    margin-top: 8%;

}

.retangulo1 {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
}

.retangulo1 .parte1 {
    margin-left: 20%;
    margin-top: 50px;
    color: #036;
    font-weight: bold;
    font-size: 32px;


}

.retangulo1 button {
    background-color: #036;
    color: #ffffff;
    padding: 8px;
    width: 300px;
    border: #036;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
}

.retangulo1 .visualizar {
    height: 30px;
    width: 40px;
    margin-left: 25%;
    text-align: center;
    align-items: center;
    display: flex;


}

#iconeOlho {
    width: 25px;
}

.retangulo1 .parte2 {
    flex-direction: column;
    margin-right: 200px;

}

.retangulo1 .extrato img {
    background-color: rgb(187, 4, 4);
    border-radius: 3px;
    margin-right: 8px;
}

.seta-transferencia {
    width: 50px;

}

.extrato {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    height: 50px;
    width: 330px;
    font-size: 17px;
}

.extrato-saida {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    height: 50px;
    width: 310px;
    font-size: 17px;
    border-bottom: solid 1px #000000;    
}

.retangulo1 .extrato-saida img {
    background-color: green;
    border-radius: 3px;
    margin-right: 8px;
}


.retangulo2 h1 {
    font-size: 28px;
    color: #036;
    margin-top: 30px;
    margin-left: 6%;
}

.retangulo2 .servico img {
    width: 80px;
    height: 80px;
}

.retangulo2 .acoes {
    padding-top: 40px;

}

.retangulo2 .acoes a {
    text-decoration: none;

}

.retangulo2 .servico p {
    color: #ffffff;
    text-align: center;

}

.acoes {
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    display: flex;
    justify-content: space-evenly;
}

.acoes .servico {
    padding: 50px;
    text-align: center;
}

.servico {
    background-color: #036;
    border-radius: 5px;
    height: 242px;
    width: 292px;
    font-size: 25px;

}


footer .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 65px;
    margin-right: 50px;
}

footer h1 {
    color: #036;
    font-size: 28px;
    margin-left: 65px;
    margin-top: 20px;
}

footer h2 {
    font-weight: bolder;
    font-size: 21px;
}

footer h3 {
    font-weight: lighter;
    font-size: 16px;
}

footer .especialista {
    background-color: #036;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 480px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
}

footer {
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 5%;
    margin-bottom: 50px;
}