 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    height: 70px;
    background-color: #036;
    
}
header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 8%;
}

.header{
    display: flex;
    align-items: center;
    margin-left: 65px;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
}

header .logo{
    width: 110px;
    margin-left: 1%;
}

header nav .usuario{
    display: flex;
    font-size: 28px;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
}

.header button{
    color: #ffffff;
    background-color: #036;
    border-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.box-seguranca {
    display: flex;
    align-items: center;
    border: 2px solid #036;
    border-radius: 8px;
    padding: 15px;
    margin: 15px auto;
    background-color: white;
    flex-direction: column; 
    text-align: center;
    width: 600px;
    height: 480px;
}

.text-inicio img{
    width: 20px;
    margin-left: 33rem;
}

.text-inicio h1 {
    font-size: 40px;
    color: #036;
    margin-top: 5px; 
    font-weight: bold;
    margin-bottom: 25px;
}


.dialogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#chave-pix, #valor-pix{
    padding: 2px;
    width: 500px;
    font-size: 15px;
    border-radius: 15px;
}

#valor-pix{
    margin-top: 15px;
}

#pix-form button{
    margin-top: 10px;
    font-size: 20px;
    width: 150px;
    border-radius: 20px;
    padding: 4px;
    background-color: #036;
    color: #ffffff;
}

.chat img{
    width: 10px;
    height: auto;
}

