*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

header{
    display: flex;
    height: 70px;
    background-color: #036;
    
}
header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 8%;
}

.header{
    display: flex;
    align-items: center;
    margin-left: 65px;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
}

header .logo{
    width: 110px;
    margin-left: 1%;
    
}

header nav .usuario{
    display: flex;
    font-size: 28px;
    text-align: center;
    align-items: center;
   
   
}

.header button{
    color: #ffffff;
    background-color: #036;
    border-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.voltar{
    margin-left: 5%;
    margin-top: 2%;
}

.gerenciar-cartoes h1{
    margin-bottom: 40px;
    
}

.gerenciar-cartoes h2{
    margin-bottom: 30px;
    
}

section{
    margin-left: 5%;
    margin-top: 2%;
 
}

.secao-cartao{
    display: flex;
    justify-content: space-between;
}

.cartao{
    background-color: #036;  
    width: 400px;
    border-radius: 15px;
    height: 250px;
}

#card-aproximacao{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

#card-chip{
    font-size: 30px;
    margin-left: 40px;
    color: white;
}

#card-chip img{
    width: 50px;
}

.div-nomecartao{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-left: 40px;
    align-items: center;
    margin-top: 10px;
    color: white;
}

.div-nomecartao img{
    width: 50px;
    margin-right: 15px;
}


.div-opcoes{
    display: flex;
    margin-right: 5%;

}

.div-opcoes-card{
   margin: 50px;
}

#bloquear button{
    width: 360px;
     height: 75px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    color: white;
    background-color: #036;
    border: none;
    border-radius: 7px;
    margin-bottom: 30px;
}

#bloquear button img{
    width: 40px;
}
#segunda-via button{
   width: 360px;
    height: 75px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    color: white;
    background-color: #036;
    border: none;
    border-radius: 7px;
}

#segunda-via button img{
    width: 40px;
}

#cartao-add button{
   width: 360px;
   height: 75px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    color: white;
    background-color: #036;
    border: none;
    border-radius: 7px;
    margin-bottom: 30px;
}

#cartao-add button img {
    width: 40px;
}

#ajustar-limite button{
   width: 360px;
    height: 75px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    color: white;
    background-color: #036;
    border: none;
    border-radius: 7px;
}

footer{
    background-color: #ffffff;
    padding-top: 3%;
    width: 100%;
  margin-top: 7%;
    
}

footer .info-footer{
    display: flex;
    justify-content: space-between;
    margin-left: 5%

}
footer .ajuda h3{
    color: #036;
    font-size: 25px;
    margin-bottom: 10px;  
}
footer .ajuda p{
    font-size: 20px;
    color: #036;
}

footer .config-cartao{
    margin-right: 100px;  

}

footer .config-cartao button{
    width: 350px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    border: none;
    background-color: #66B2FF ;
    border-radius: 7px;
    text-align: center;
    align-items: center;

}
footer .config-cartao button .fatura{
    text-align: center;
    align-items: center;
   
}

footer .config-cartao button img{
    width: 40px;
  margin-left: 10px;
    
}

