*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --azul: #036;
    --branco: #ffffff;
    --cinza-escuro: #bcbfdb;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    height: 70px;
    background-color: var(--azul);
    
}
header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 8%;
}

.header{
    display: flex;
    align-items: center;
    margin-left: 65px;
    color: var(--branco);
    font-size: 20px;
    width: 100%;
}

header .logo{
    width: 110px;
    margin-left: 1%;
}

header nav .usuario{
    display: flex;
    font-size: 28px;
    text-align: center;
    align-items: center;  
}

.header button{
    color: var(--branco);
    background-color: var(--azul);
    border-color: var(--branco);
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.voltar{
    margin-left: 5%;
    margin-top: 2%;
}
.voltar img{
    width: 35px;
    height: auto;
}

.retangulo1 h1{
    margin-bottom: 10px;
}
.retangulo1 .box1{
    width: 100%; 
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 35px 5px 10px; 
}

.seta-pix{
    position: absolute; 
    top: 50%;
    right: 10px;
    transform: translateY(-50%); 
    
    cursor: pointer;
    display: flex; 
}

.seta-pix img {
    width: 35px; 
    height: auto;
}

.input-chave {
    position: relative; 
    margin-left: 5%; 
    width: 70%; 
}



.retangulo1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 50px;
    margin-top: -20px;
}


.retangulo2{
    margin-top: -26px;
}

.retangulo2 .servico img{
    width: 65px;
    height:auto;
}

.retangulo2 .servico p{
    color: var(--branco);
    font-size: 20px;
}

.acoes{
    display: flex;
    flex-direction: row;
    margin-left: -25px;
    display: flex;
    justify-content: space-evenly;
}

.acoes .servico{
    padding: 30px;
    text-align: center;
}

.servico{
    background-color: var(--azul);
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

hr{
    width: 82%;
    justify-self: center;
    color: var(--azul);
    margin-top: 20px;
}

.footer .content{
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 65px;
    margin-right: 40px;
    margin-bottom:55px;
}

.footer .content .color{
    background-color: var(--cinza-escuro);
    border-radius: 50%;
    width: 80px; 
    height: 80px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.footer .contatos{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 100%;
    overflow-y: auto;
    flex-wrap: nowrap;
    padding: 0 40px;
}

.footer h1{
    color: var(--azul);
    font-size: 28px;
    margin-left: 65px;
    margin-top: -20px;
}

.footer h2{
    font-weight: bold;
    font-weight: bolder;
    font-size: 20px;
}

.footer h3{
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 10px;
}

.footer{
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 5%;
}


.footer a {
    text-decoration: none; 
}

footer{
    background-color: #f0f0f0;
    padding-top: 3%;
    padding-bottom: 1%;
    width: 100%;
    margin-top: 6%;
    
}

footer .info-footer{
    display: flex;
    justify-content: space-between;
    margin-left: 5%

}
footer .ajuda h3{
    color: #036;
    font-size: 20px;
    margin-bottom: 10px;  
}
footer .ajuda p{
    font-size: 20px;
    color: #036;
}                                                                                                                                                                                                                                                                                     

footer .especialista {
    background-color: #036;
    color: #ffffff;
    border:none;
    border-radius: 5px;
    width: 350px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 150px;
   
}

/* --- ESTILOS DO MODAL --- */
.modal-confirmacao {
    display: none;
    position: fixed;
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}


.modal-conteudo {
    background-color: var(--branco);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
    z-index: 5000;
}

.destaque-valor {
    font-size: 1.5em;
    font-weight: bold;
    color: green;
    display: block;
    margin: 10px 0;
}

.destaque-texto {
    font-weight: bold;
    color: var(--color-primaria);
}

.modal-botoes {
    margin-top: 20px;
}

.modal-botoes button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-botoes .confirmar {
    background-color: #4CAF50; 
    color: white;
}

.modal-botoes .cancelar {
    background-color: #f44336; 
    color: white;
}

/* Para monitores (> 1024px) */
@media (min-width: 1920px) {

    .header {
        margin-left: 100px; 
    }
    header nav .usuario p {
        font-size: 32px;
    }
    

    .header button {
        padding: 8px 15px; 
        width: 100px;
        font-size: 20px;
    }

    .voltar img{
        width: 45px;
        height: auto;
        margin-bottom: 20px;
    }
    .voltar .texto h1 {
        font-size: 38px;
    }

    
    .retangulo1 .box1{
        height: 45px; 
        font-size: 24px; 
        padding: 10px; 
        width: 85%;
    }

   
    .servico {
        height: 180px;
        width: 180px;
        border-radius: 15px;
        margin-right: 100px;
        margin-top: 20px;
    }

    hr{
       margin-right: 65px;
       margin-top: 40px;
    }

  
    .retangulo2 .servico img{
        width: 60px;
        height: 60px;
    }
    
  
    .retangulo2 .servico p {
        font-size: 18px;
    }
    
   
    footer .content .color {
        width: 100px; 
        height: 100px;
    }
    
    footer h1{
        margin-top: 50px;
    }
   
    footer h2 {
        font-size: 28px;
    }
    
  
    footer h3 {
        font-size: 18px;
    }

    .retangulo1 .box1{
        width: 100%; 
    }

    footer .ajuda h3{
        font-size: 25px;
    }

    footer .ajuda p{
        font-size: 20px;
    }

    footer .especialista {
        width: 480px;
        font-size: 25px;
    }

    .acoes .servico{
        padding: 30px;
    }

    .retangulo2 .servico img{
        width: 80px;
        height:auto;
    }

    .retangulo2 .servico p{
        font-size: 23px;
    }

    .footer .content .color{
        width: 115px; 
        height: 115px;
    }

    .footer h2{
        font-size: 30px;
    }

    .footer h3{
        font-weight: bold;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 10px;
    }

    .footer h1{
        font-size: 28px;
        margin-bottom: 20px;
    }


}


