*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --azul: #036;
    --branco: #ffffff;
    --cinza-escuro: #bcbfdb;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    height: 70px;
    background-color: var(--azul);
    
}
header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 8%;
}

.header{
    display: flex;
    align-items: center;
    margin-left: 65px;
    color: var(--branco);
    font-size: 20px;
    width: 100%;
}

header .logo{
    width: 110px;
    margin-left: 1%;
}

header nav .usuario{
    display: flex;
    font-size: 28px;
    text-align: center;
    align-items: center;  
}

.header button{
    color: var(--branco);
    background-color: var(--azul);
    border-color: var(--branco);
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.retangulo1 .box1{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
}

.retangulo1 .seta-pix{
    display: flex;
}

.retangulo1 .seta-pix p{
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.retangulo1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 50px;
    margin-top: -20px;
}

.seta-transferencia{
    width: 50px;
}

.extrato{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--branco);
    height: 50px;
    width: 300px;
    font-size: 14px;
}

.retangulo2{
    margin-top: -26px;
}


.retangulo2 h1{
    font-size: 28px;
    color: var(--azul);
    margin-top: 30px;
}

.retangulo2 .servico img{
    width: 50px;
    height: 50px;
}

.retangulo2 .servico p{
    color: var(--branco);
    font-size: 15px;
}

.acoes{
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    display: flex;
    justify-content: space-evenly;
}

.acoes .servico{
    padding: 40px;
    text-align: center;
}

.servico{
    background-color: var(--azul);
    border-radius: 5px;
    height: 150px;
    width: 150px;
    font-size: 20px;
}

hr{
    width: 80%;
    justify-self: center;
    color: var(--azul);
    margin-top: 20px;
}

footer .content{
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 65px;
    margin-right: 50px;
}

footer .content .color{
    background-color: var(--cinza-escuro);
    border-radius: 50px;
    padding: 34px;
}

footer .contatos{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

footer h1{
    color: var(--azul);
    font-size: 28px;
    margin-left: 65px;
    margin-top: -20px;
}

footer h2{
    font-weight: bolder;
    font-size: 20px;
}

footer h3{
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

footer{
   margin-top: 4%;
   margin-left: 3%;
   margin-right: 5%;
}



