 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    height: 70px;
    background-color: #036;
    
}
header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 8%;
}

.header{
    display: flex;
    align-items: center;
    margin-left: 65px;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
}

header .logo{
    width: 110px;
    margin-left: 1%;
}

header nav .usuario{
    display: flex;
    font-size: 28px;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
}

.header button{
    color: #ffffff;
    background-color: #036;
    border-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.box-seguranca {
    display: flex;
    align-items: center;
    border: 2px solid #036;
    border-radius: 8px;
    padding: 15px;
    width: 95%;
    margin: 15px auto;
    background-color: white;
    flex-direction: column; 
    text-align: center;
    width: 600px;
}

.text-pagamento{
    align-items: center;
}

.text-inicio img{
    width: 20px;
    margin-left: 33rem;
    
}

.text-inicio h1 {
    font-size: 28px;
    text-align: center;
    margin-top: 15px;
}

.text-inicio p {
    font-size: 20px;
    background-color: #036;
    color: #ffffff;
    width: 500px;
    height: 35px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px; 
}

.model h3 {
    margin-top: 15px;
    font-size: 22px;
    margin-right: 230px;
    color: #036;
}

.model p {
   margin-right: 310px; 
}

.valor h1{
    margin-top: 25px;
    font-size: 60px;
    color: #036;
    margin-right: 230px;
}

.valor h2 {
    margin-top: 15px;
    margin-right: 300px;
    color:#036;
    font-size: 20px
}

.seguranca{
    background-color: #ffffff;
    border: 2px solid #036;
    border-radius: 5px;
    width: 500px;
    height: 75px;
    margin-left: 25px;
    margin-top: 15px;
    display: flex;
}

.seguranca img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
}

label{
    margin-top: 5px;
    display: flex;
    flex-direction: column; 
    gap: 5px; 
    font-weight: bold;
    margin-left: 120px;

}

input {
    margin-left: 120px;
    margin-top: 2px;
    width: 120px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 2px solid #66b3ff8f;
    text-align: center;
    letter-spacing: 10px;
    font-size: 18px;

}

.botoes button {
    height: 30px;
    margin-top: 35px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.botoes .confirmar {
    margin-right: 37px;
    background-color: #036;
    color: #ffffff;
    width: 200px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.botoes .cancelar {
    background-color: rgba(77, 147, 218, 0.788);
    color: #036;
    width: 200px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

