*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    
}


header{
    display: flex;
    height: 70px;
    background-color: #036;
    
}
header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 8%;
}

.header{
    display: flex;
    align-items: center;
    margin-left: 65px;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
}

header .logo{
    width: 110px;
    margin-left: 1%;
    
}

header nav .usuario{
    display: flex;
    font-size: 28px;
    text-align: center;
    align-items: center;
   
   
}

.header button{
    color: #ffffff;
    background-color: #036;
    border-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.voltar{
    margin-left: 5%;
    margin-top: 2%;
}

.gerenciar-cartoes h1{
    margin-bottom: 40px;
    
}

.gerenciar-cartoes h2{
    margin-bottom: 30px;
    
}

section{
    margin-left: 5%;
    margin-top: 2%;
 
}

.secao-cartao{
    display: flex;
    justify-content: space-between;
}

.cartao{
    background-color: #036;  
    width: 400px;
    border-radius: 15px;
    height: 250px;
}

#card-aproximacao{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

#card-chip{
    font-size: 30px;
    margin-left: 40px;
    color: white;
}

#card-chip img{
    width: 50px;
}

.div-nomecartao{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-left: 40px;
    align-items: center;
    margin-top: 10px;
    color: white;
}

.div-nomecartao img{
    width: 50px;
    margin-right: 15px;
}


.div-opcoes{
    display: flex;
    margin-right: 5%;

}

.div-opcoes-card{
   margin: 50px;
}

#bloquear button{
    width: 400px;
     height: 75px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    color: white;
    background-color: #036;
    border: none;
    border-radius: 7px;
    margin-bottom: 30px;
}

#bloquear button img{
    width: 40px;
}
#segunda-via button{
   width: 400px;
    height: 75px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    color: white;
    background-color: #036;
    border: none;
    border-radius: 7px;
}

#segunda-via button img{
    width: 40px;
}

#cartao-add button{
   width: 360px;
   height: 75px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    color: white;
    background-color: #036;
    border: none;
    border-radius: 7px;
    margin-bottom: 30px;
}

#cartao-add button img {
    width: 40px;
}

#ajustar-limite button{
   width: 360px;
    height: 75px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    color: white;
    background-color: #036;
    border: none;
    border-radius: 7px;
}

button:hover {
    cursor: pointer;
}


 .config-cartao button{
    width: 400px;
    height: 50px;
    font-size: 20px;
    display: flex;
    border: none;
    background-color: #66B2FF ;
    border-radius: 7px;
    text-align: center;
    align-items: center;

}
 .config-cartao button .fatura{
    text-align: center;
    align-items: center;
   
}
.config-cartao .fatura{
    align-items: center;
    text-align: center;
}

 .config-cartao button img{
    width: 40px;
  margin-left: 10px;
    
}
.config-cartao p {
    margin-left: 10px;
}






/* INICIO DO POPUP DO AUMENTAR LIMITE*/

#box-limite{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 5000;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;


}

.box-limite-div{
    background-color: #f1f1f1;
    width: 32%;
    border-radius: 7px;
    text-align: center;
    margin-left: 35%;
    margin-top: 15%;
  


}



.div-x img{
    width: 30px;
    margin-right: -500px;
    margin-top: 15px;
}
.div-x img:hover{
    cursor: pointer;
}

.aumento-limite{
    width: 100%;
    padding: 25px;
    
}

.aumento-limite h2{
    font-size: 40px;
}

.aumento-limite label{
    font-size: 40px;
}
.aumento-limite button{
    width: 170px;
    padding: 10px;
    border-radius: 5px;
    background-color: #036;
    color: white;
    margin-top: 25px;
    font-size: 18px;
    border: none;
 
}
.aumento-limite input{
    height: 50px;
   
}


#limite-range{
    width: 70%;
    
}



footer{
    background-color: #ffffff;
    padding-top: 3%;
    padding-bottom: 1%;
    width: 100%;
    margin-top: 6%;
    
}

footer .info-footer{
    display: flex;
    justify-content: space-between;
    margin-left: 5%

}
footer .ajuda h3{
    color: #036;
    font-size: 25px;
    margin-bottom: 10px;  
}
footer .ajuda p{
    font-size: 20px;
    color: #036;
}                                                                                                                                                                                                                                                                                     



footer .especialista {
    background-color: #036;
    color: #ffffff;
    border:none;
    border-radius: 5px;
    width: 480px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin-right: 150px;
   
}

@media (max-width: 1460px) {
    .cartao{
        width: 410px;
        height: 250px;
       
    }
    .secao-cartao-div{
        width: 400px;
        height: 200px;   
        
    }
    .secao-cartao-div p{
        font-size: 25px;
        
    }
    .secao-cartao-div img{
        width: 50px;
    }
    #card-chip img{
        width: 50px;
    }

    .div-opcoes{
       
       height: 200px;
       margin: 0;
       margin-top: 5px;
       display: flex;
       justify-content: space-between;
       padding: 15px;
    }
    .div-opcoes-card{
     
        height: 200px;
        margin: 0;
        padding: 20px;
    }
 }

 @media (max-width: 1300px){
    .cartao{
        width: 350px;
        height: 220px;
       
    }
    .secao-cartao-div{
        width: 350px;
        height: 220px;   
        
    }
    .secao-cartao-div p{
        font-size: 23px;
        
    }
    .secao-cartao-div img{
        width: 45px;
    }
    #card-chip img{
        width: 40px;
    }
    .div-opcoes{
       
       height: 200px;
       margin: 0;
       
       display: flex;
       justify-content: space-between;
      
    }
    .div-opcoes-card{
     
        height: 200px;
        
        
    }

    #bloquear button, #segunda-via button, #cartao-add button, #ajustar-limite button { 
        width: 300px;
        font-size: 20px;
      }

 }

 @media (max-width: 1110px){
    .cartao{
        width: 350px;
        height: 220px;
       
    }
    .secao-cartao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .secao-cartao-div{
        width: 350px;
        height: 220px;   
        
    }
    .secao-cartao-div p{
        font-size: 23px;
        
    }
    .secao-cartao-div img{
        width: 45px;
    }
    #card-chip img{
        width: 40px;
    }
    .div-opcoes{
       
       height: 200px;
       margin: 0;
      
      
    }
    .div-opcoes-card{
     
        height: 200px;
        
        
    }

    #bloquear button, #segunda-via button, #cartao-add button, #ajustar-limite button { 
        width: 350px;
        font-size: 20px;
      }

 }

  @media (max-width: 800px){
    .cartao{
        width: 350px;
        height: 220px;
       
    }
    .secao-cartao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .secao-cartao-div{
        width: 350px;
        height: 220px;   
        
    }
    .secao-cartao-div p{
        font-size: 23px;
        
    }
    .secao-cartao-div img{
        width: 45px;
    }
    #card-chip img{
        width: 40px;
    }
    .div-opcoes{
       
       height: 200px;
       margin: 0;
       flex-direction: column;
      
      
    }
    .div-opcoes-card{
      
        height: 200px;
        
    }

    #bloquear button, #segunda-via button, #cartao-add button, #ajustar-limite button { 
        width: 350px;
        font-size: 20px;
        
      }

      footer{
            margin-top: 80%;
            display: flex;
           
      }
      .header p{
       font-size: 18px;
      }
      .header{
        display: flex;
        justify-content: space-around;
        margin-left: 0;
      }
      .header button{
        width: 50px;
      }

      footer .fatura button {
        width: 20px;
      }
      

 }
 

